* {
	outline: solid red;
}

html, body {
	height: 100%;
}

body {
	margin: 2%;
}

.banner {
	height: 15%;
	width: 32%;
	float: left;
}

.top-red, .top-blue {
	margin-right: 2%;
	margin-bottom: 4%;
}	

.blue {
	background-color: #4A90E2;
}

.red {
	background-color: #D0021B;
}

.gray {
	background-color: #4A4A4A;
}

.text-box {
	width: 100%;
	height: 25%;
	clear: both;
}

.big-red {
	width: 30%;
	height: 35%;
	float: left;
	margin-bottom: 2%;
}

.big-blue {
	float: left;
	width: 70%;
	height: 35%;
	margin-bottom: 2%;
}

.lower-blue {
	width: 70%;
	height: 16%;
	float: left;
}

.lower-red {
	height: 16%;
	width: 5%;
	float: left;
}

.lower-gray {
	height: 16%;
	width: 20%;
	float: left;
}

.lower-right-red {
	height: 16%;
	width: 5%;
	float: left;
}
